<head>
<style type="text/css">
table#product {
    display: inline-block;
    text-align: center;
}
</style>
</head>

<body>
<h1>Bitmart product database</h1>


<p><a href="/clerk/products//">Add product</a></p>

{% for item in available_products %}
<table id="product">
<tr><td> <a href="/clerk/products/{{ item.id }}"><img src="/media/{{ item.picture }}"></a> </tr></td>
<tr><th> {{ item.name }} </th></tr>
<tr><td> {{ item.description }} </td></tr>
<tr><td> {{ item.stock }} available </td></tr>
<tr><th> Kr {{ item.gross_unit_price }} </th></tr>
</table>
{% endfor %}
</body>
