/* app css stylesheet */

body {
  padding-top: 50px;
  padding-bottom: 70px;
}

.caption {
  text-align: center;
}

.col-sm-4 {
  margin-top: 2em;
}

#shoppingCartStat {
  margin-left: 3em;
  font-weight: bold;
}

#shoppingCartTable {
  width: 80%;
  margin: 0 auto;
}

.navbar {
  border-top: solid #c0c0c0 1px;
}

.navbar-btn {
  margin-left: 1em;
  margin-right: 1em;
  float: right;
}
